*, *::after, *::before {
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
}

.page-cover {
    padding: 0;
    margin: 0;
}

header {
    background-image: url("../img/header.jpg");
    background-size: cover;
    padding-bottom: 15%;
    margin-bottom: 3%;
}

.margin-l-r {
    margin: 0 2rem 0 2rem
}

.sticky {
    top: 0;
    left: 0;
    right: 0;
}

.link-nav {
    color: white;
    text-decoration: none;
    font-size: calc(1rem + 1vw)
}

.link-nav:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.headline {
    font-size:calc(2vw + 1em);
} 

.main-headline {
    font-size: calc(5vw + 1em);
    color: white
}

/* scrolable
add classList 
navbar fixed-top navbar-light
*/

/* main {
    margin: 10px 15px 20px 25px;
}

.max-width {
    max-width: 800px;
    margin: auto;
} */