@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --header-bg-color: transparent;
    --header-text-color: white;
}

html{
    margin: 0;
    padding: 0;
}

.page-cover {
    padding: 0;
    margin: 0;
}

/*header {
     background-image: url("../img/header.jpg");
    background-size: cover;
    padding-bottom: 15%;
    margin-bottom: 3%; 
}*/

header img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

header nav{
    position: fixed;
    background-color: var(--header-bg-color);
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    z-index: 100;
}

header nav a{
    padding: 1rem 2rem;
    border-radius: 3px;
    white-space: nowrap;
}

.margin-l-r {
    margin: 0 2rem 0 2rem
}

.link-nav {
    color: var(--header-text-color);
    text-decoration: none;
    font-size: calc(1rem + 1vw)
}

.link-nav:hover {
    color: var(--header-text-color);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.name {
    font-weight: normal;
    font-family: 'Comforter';
    font-size: calc(2vw + 1em);
    position: absolute;
    background-color: var(--header-bg-color);
    top: 40%;
    left: 30%;
    padding: 1rem 0;
    color: var(--header-text-color);
}

.scrolled {
    --header-bg-color: rgba(0, 0, 0, 0.8);
    --header-text-color: white;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
}

.scrolled

.headline {
    font-size: calc(2vw + 1em);
} 

.main-headline {
    font-size: calc(5vw + 1em);
    color: black
}

main div {
    margin: 3rem 0;
}

.img {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}


.img img {
    flex: 1 1 33%;
    min-height: 200px;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 25%;
}

.contact {
    margin: 0;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contact div:first-child{margin-right: auto}

.contact div {
    margin: 0;
}

.contact img {
    aspect-ratio: 1 / 1;
    width: 50px;
}